#menu {
    background: red;
}

#menu li {
    list-style-type: none;
    display: inline;
}

#lead {
    background: orange;
}

#about {
    background: yellow;
}

#education {
    background: green;
}

#projects {
    background: blue;
}

#skills {
    background: indigo;
}

#contact {
    background: violet;
}
