#menu {
    background: red;
}

#lead {
    background: orange;
}

#about {
    background: yellow;
}

#education {
    background: green;
}

#projects {
    background: blue;
}

#skills {
    background: indigo;
}

#contact {
    background: purple;
}
